[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = matt
	email = matt@cedarai.com
[core]
	excludesfile = /Users/matt/.gitignore
	editor = hx
[push]
	autoSetupRemote = true
[maintenance]
	repo = /Users/matt/Workspace/cedar
[rerere]
	enabled = true
